@font-face {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 400;
  src: local('Tinos'), url(http://themes.googleusercontent.com/static/fonts/tinos/v5/C8vzv480UKDveCPk8l9XHQ.woff) format('woff');
}
@font-face {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 700;
  src: local('Tinos Bold'), local('Tinos-Bold'), url(http://themes.googleusercontent.com/static/fonts/tinos/v5/r7ygpzWtF3nxLEGd26jZfvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  src: local('Neucha'), url(http://themes.googleusercontent.com/static/fonts/neucha/v4/XE-CQUm9nMnSxYSbi8LNmQ.woff) format('woff');
}

html {
   width: 100%;
   height: 100%;
   background-color: #111;
}
body {
   width: 1000px;
   height: 700px;
   font-family: 'Neucha', cursive;
   font-size: xx-large;
   font-style: italic;
   margin: auto;
   background-color: #100060;
   position: relative;
}

.center {
   margin: auto;
}

.hny {
   position: absolute;
   color: white;
   text-align: center;
   top: 20px;
   width: 1000px;
}

.federatio {
   font-weight: bold;
   font-style: normal;
   font-family: 'Tinos', serif;
}
.federatio:before, .federatio:after {
   background: url("/images/fed.png") no-repeat center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   -ms-background-size: cover;
   background-size: cover;
   display: inline-block;
   height: 0.7em;
   width: 0.7em;
   content: "";
}
.federatio:before {
   margin-right: 3px;
}
.federatio:after {
   margin-left: 3px;
}


@keyframes snow1 {
   0% {
      background-position: 0px 0px;
   }
   100% {
      background-position: 500px 1000px;
   }
}
@-moz-keyframes snow1 {
   0% {
      background-position: 0px 0px;
   }
   100% {
      background-position: 500px 1000px;
   }
}
@-webkit-keyframes snow1 {
   0% {
      background-position: 0px 0px;
   }
   100% {
      background-position: 500px 1000px;
   }
}
@-ms-keyframes snow1 {
   0% {
      background-position: 0px 0px;
   }
   100% {
      background-position: 500px 1000px;
   }
}
@keyframes snow2 {
   0% {
      background-position: 0px 0px;
   }
   100% {
      background-position: 400px 400px;
   }
}
@-moz-keyframes snow2 {
   0% {
      background-position: 0px 0px;
   }
   100% {
      background-position: 400px 400px;
   }
}
@-webkit-keyframes snow2 {
   0% {
      background-position: 0px 0px;
   }
   100% {
      background-position: 400px 400px;
   }
}
@-ms-keyframes snow2 {
   0% {
      background-position: 0px 0px;
   }
   100% {
      background-position: 400px 400px;
   }
}
@keyframes snow3 {
   0% {
      background-position: 0px 0px;
   }
   100% {
      background-position: 600px 300px;
   }
}
@-moz-keyframes snow3 {
   0% {
      background-position: 0px 0px;
   }
   100% {
      background-position: 600px 300px;
   }
}
@-webkit-keyframes snow3 {
   0% {
      background-position: 0px 0px;
   }
   100% {
      background-position: 600px 300px;
   }
}
@-ms-keyframes snow3 {
   0% {
      background-position: 0px 0px;
   }
   100% {
      background-position: 600px 300px;
   }
}

.snowflake1, .snowflake2, .snowflake3 {
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   width: 100%;
}
.snowflake1 {
   background: url("/images/snowflake1.png") repeat;
   -webkit-animation: snow1 25s linear infinite;
   -moz-animation: snow1 25s linear infinite;
   -ms-animation: snow1 25s linear infinite;
   animation: snow1 25s linear infinite;
}
.snowflake2 {
   background: url("/images/snowflake2.png") repeat;
   -webkit-animation: snow2 25s linear infinite;
   -moz-animation: snow2 25s linear infinite;
   -ms-animation: snow2 25s linear infinite;
   animation: snow2 25s linear infinite;
}
.snowflake3 {
   background: url("/images/snowflake3.png") repeat;
   -webkit-animation: snow3 25s linear infinite;
   -moz-animation: snow3 25s linear infinite;
   -ms-animation: snow3 25s linear infinite;
   animation: snow3 25s linear infinite;
}

.fir {
   position: relative;
   width: auto;
   height: 650px;
}
.fir div {
   position: absolute;
}
.fir .stage {
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
   -ms-border-radius: 100%;
   border-radius: 100%;
}
.fir .stage:before, .fir .stage:after {
   position: absolute;
   content: "";
   background-color: #100060;
}
.fir .stage:before {
   -webkit-border-radius: 0 0 50% 0;
   -moz-border-radius: 0 0 50% 0;
   -ms-border-radius: 0 0 50% 0;
   border-radius: 0 0 50% 0;
}
.fir .stage:after {
   -webkit-border-radius: 0 0 0 50%;
   -moz-border-radius: 0 0 0 50%;
   -ms-border-radius: 0 0 0 50%;
   border-radius: 0 0 0 50%;
}

.trunk {
   background-color: black;
   width: 50px;
   height: 500px;
   bottom: 0;
   left: 475px;
}

#stage1 {
   background-color: #003200;
   bottom: 100px;
   left: 150px;
   width: 700px;
   height: 500px;
}
#stage1:before, #stage1:after {
   bottom: 15px;
   width: 500px;
   height: 750px;
}
#stage1:before {
   left: -150px;
}
#stage1:after {
   right: -150px;
}

#stage2 {
   background-color: #005a00;
   bottom: 200px;
   left: 200px;
   width: 600px;
   height: 400px;
}
#stage2:before, #stage2:after {
   bottom: 10px;
   width: 500px;
   height: 600px;
}
#stage2:before {
   left: -200px;
}
#stage2:after {
   right: -200px;
}

#stage3 {
   background-color: #008000;
   bottom: 300px;
   left: 250px;
   width: 500px;
   height: 300px;
}
#stage3:before, #stage3:after {
   bottom: 5px;
   width: 500px;
   height: 450px;
}
#stage3:before {
   left: -250px;
}
#stage3:after {
   right: -250px;
}

#stage4 {
   background-color: #00a600;
   bottom: 400px;
   left: 300px;
   width: 400px;
   height: 300px;
}
#stage4:before, #stage4:after {
   bottom: 0px;
   width: 500px;
   height: 300px;
}
#stage4:before {
   left: -300px;
}
#stage4:after {
   right: -300px;
}

.snow {
   border: #ccc solid 1px;
   bottom: 0px;
   background-color: #eee;
   position: absolute;
   border-radius: 60% 40% 0% 0%/100% 70% 0% 0%;
}
.snow:before {
   border: #ccc solid 1px;
   content: "";
   width: 100%;
   height: 90%;
   bottom: 0px;
   left: -10%;
   background-color: #fff;
   border-radius: 50% 50% 0% 0%/100% 100% 0% 0%;
   position: absolute;
}
.snow:after {
   border: #ccc solid 1px;
   content: "";
   width: 100%;
   height: 60%;
   bottom: 0px;
   right: -10%;
   background-color: #eee;
   z-index: 0;
   border-radius: 80% 20% 0% 0%/90% 80% 0% 0%;
   position: absolute;
}

#snow1 {
   left: 15%;
   width: 70%;
   height: 100px;
}
#snow2 {
   left: 0%;
   width: 60%;
   height: 90px;
   border-radius: 0% 90% 0% 0%/0% 70% 0% 0%;
}
#snow2:before { display: none; }
#snow3 {
   right: 0%;
   width: 60%;
   height: 100px;
   border-radius: 80% 0% 0%/90% 0% 0% 0%;
}
#snow3:after { display: none; }
